SOC L1 Agent_Wazuh_Discord.json
{
  "name": "SOC L1 Agent/Wazuh/Discord",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -160
      ],
      "id": "d11d5526-3c3c-4c44-88cd-30ecbba11c14",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://192.168.56.103:55000/security/user/authenticate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        -160
      ],
      "id": "af687a39-e20a-4b27-ab34-9282ff4e76ec",
      "name": "Get Wazuh Token",
      "credentials": {
        "httpBasicAuth": {
          "id": "brevEmpkGmNLTU5v",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://192.168.56.103:9200/wazuh-alerts-*/_search?size=50&sort=timestamp:desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.data.token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        -160
      ],
      "id": "1e06657a-aa18-470b-9d6c-75c05ab31d2a",
      "name": "Get Alerts",
      "credentials": {
        "httpBasicAuth": {
          "id": "fJkbroiSbmkB7R5n",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab the incoming raw data array cleanly from n8n\nconst inputItems = $input.all();\nif (!inputItems || inputItems.length === 0) return [];\n\nconst inputData = inputItems[0].json;\nconst hits = inputData.hits?.hits || [];\n\n// Map through ALL matching alerts\nconst alerts = hits.map(hit => {\n  const src = hit._source || {};\n  \n  return {\n    id: hit._id,\n    timestamp: src.timestamp,\n    agent_name: src.agent?.name || 'unknown',\n    agent_ip: src.agent?.ip || 'unknown',\n    rule_id: src.rule?.id || 'unknown',\n    rule_level: src.rule?.level || 0,\n    rule_description: src.rule?.description || 'unknown',\n    rule_groups: src.rule?.groups || [],\n    mitre_technique: src.rule?.mitre?.technique || [],\n    mitre_id: src.rule?.mitre?.id || [],\n    mitre_tactic: src.rule?.mitre?.tactic || [],\n    full_log: src.full_log || '',\n    win_message: src.data?.win?.system?.message || ''\n  };\n});\n\n// REMOVED .slice(0,1) so all matching alerts are preserved!\n// Filters out rule levels below 3 to keep it focused on actionable logs.\nconst filtered = alerts.filter(a => a.rule_level >= 3);\n\n// Output them as a proper n8n list of distinct items\nreturn filtered.map(alert => ({ json: alert }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -160
      ],
      "id": "c3c95fe2-db48-48df-b99d-bc1865ff0738",
      "name": "Parse Alerts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "prompt",
              "value": "=You are a SOC L1 analyst. Analyze this Wazuh alert and respond ONLY in JSON. Agent: {{ $('Loop Over Items').item.json.agent_name }} IP: {{ $('Loop Over Items').item.json.agent_ip }} Rule ID: {{ $('Loop Over Items').item.json.rule_id }} Level: {{ $('Loop Over Items').item.json.rule_level }}/15 Description: {{ $('Loop Over Items').item.json.rule_description }} MITRE: {{ $('Loop Over Items').item.json.mitre_id ? $('Loop Over Items').item.json.mitre_id.join(', ') : 'None' }} Log: {{ $('Loop Over Items').item.json.full_log }} Respond ONLY in this JSON format: {\"verdict\": \"false_positive\" or \"true_positive_auto\" or \"true_positive_escalate\", \"confidence\": \"high\" or \"medium\" or \"low\", \"reasoning\": \"2-3 sentences\", \"recommended_action\": \"action\"}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -160
      ],
      "id": "ec49fd8b-2832-44e0-9805-b0008a3a762b",
      "name": "Local AI Triage",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $('Local AI Triage').all();\n// Look straight back to the original source node before the loop\nconst originalAlerts = $('Parse Alerts').all();\n\nreturn aiItems.map((item, index) => {\n  const raw = item.json.response || item.json.message?.content || \"\";\n  \n  // Directly pull the matching original alert data from the root slice\n  const alertData = originalAlerts[index]?.json || {};\n  \n  try {\n    const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) throw new Error(\"No JSON found\");\n    \n    const verdict = JSON.parse(jsonMatch[0]);\n    \n    return { \n      json: { \n        ...verdict, \n        ...alertData // This injects the missing agent_name, agent_ip, and timestamp\n      } \n    };\n    \n  } catch(e) {\n    return { \n      json: { \n        verdict: \"DEBUG_ERROR\", \n        confidence: \"N/A\", \n        reasoning: \"AI response was blank or malformed.\",\n        recommended_action: \"Check AI Node\",\n        ...alertData\n      } \n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -160
      ],
      "id": "97908868-4923-49ec-b86f-2ef8be3a158b",
      "name": "Parse Verdict"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "751ee83b-fcf2-4cad-898b-ffdb024185ff",
              "leftValue": "={{ $json.rule_level }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "107aaf3e-bae6-4365-be82-22979350ceb3",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "true_positive_escalate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -160
      ],
      "id": "37f207bf-d574-44d1-8968-50309b7d09da",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1519814524557987862/CuqFbe9gkciYjmc92pSxezOakMt7oSRm6ObAq_nN5AEpbYQBU9xoyOTjZ3iGnPpo5Byl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=**SOC ALERT - {{ $json.verdict }}**\n**Confidence:** {{ $json.confidence }}\n**Reasoning:** {{ $json.reasoning }}\n**Action:** {{ $json.recommended_action }}\n**Device Name:** {{ $json.agent_name || 'N/A' }}\n**Device IP:** {{ $json.agent_ip || 'N/A' }}\n**Source IP:** {{ $json.source_ip || 'N/A' }}\n**Triggered Time:** {{ $json.timestamp || 'N/A' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -272
      ],
      "id": "164d67cf-6db1-4af5-bac9-f75f399dcda6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        -384
      ],
      "id": "28deaaa4-4605-4aef-af66-3d6aaa0e2d8d",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Wazuh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wazuh Token": {
      "main": [
        [
          {
            "node": "Get Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Alerts": {
      "main": [
        [
          {
            "node": "Parse Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alerts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local AI Triage": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Verdict": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Parse Verdict",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local AI Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c048f57a-c7bd-46aa-826c-581cdcb87441",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6109fed9746300a13e32e68fbf0c8b1e1fd1e7be72cd76c328a47e24c9978e95"
  },
  "nodeGroups": [],
  "id": "Zn3PtcRKluPGsHr0",
  "tags": []
}